DB_HOST=           # Hostname or IP address of the database server
DB_USER=           # Database username
DB_PASSWORD=       # Password for the database user
DB_NAME=           # Name of the database
DB_PORT=           # Port number on which the database server is listening

JWT_SECRET=        # Secret key used for JWT token signing and verification

DEFAULT_USER_BALANCE=  # Default balance amount assigned to new users

URL_RANDOM_STR_SERVICE=  # URL endpoint or service location for generating random strings
